html {
    height: 100%;
}

body {
    margin: 0;
    color: $color-dark;
    font: 15px $font;
    background: $color-white;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
}

* {
    box-sizing: border-box
}

a {
    color: $color-brand-violet;

    &:focus,
    &:hover {
        color: darken( $color-brand-violet, 10% );
    }

    &:hover {
        text-decoration: none;
    }
}

form,
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    vertical-align: middle;
    font: 100% $font, sans-serif;
    border: 1px solid $color-grey;

    &:focus {
        border: 1px solid $color-brand-violet;
        outline: none;
    }
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

button {
    font: 100% $font, sans-serif;
}

img {
    border: none;
    display: block;
}

.container {
    flex: 1 0 auto;
    position: relative;
}