.footer {
    background-color: $color-grey-light;
    padding: $base-spacing-unit;
    text-align: center;
    border-top: $border;

    &__nav {
        @include list-clear();
    }

    &__nav-item {
        display: inline-block;
        border-right: 1px solid $color-dark;
        padding: 0 20px;

        @include until($bp-large) {
            padding: 0 6px;
        }

        &:last-child {
            border-right: none;
        }
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        color: $color-dark;

        @include until($bp-large) {
            font-size: 12px;
        }
    }

    &__copyright {
        margin: 20px 0 0;

        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}