/* helpers */
.clear:after {
    content:'';
    height: 0;
    clear: both;
    display: block;
}

.box-container {
    margin: 0 auto;
    width: 80%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.title {
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: $color-brand-green;

    &--middle {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin: 0;

    }
}

.spacing {
    padding: $base-spacing-unit 0;
}

.spacing-top {
    padding-top: $base-spacing-unit;
}

.spacing-bottom {
    margin-bottom: $base-spacing-unit;
}

.grey {
    background-color: $color-grey-light;
}
.border-bottom {
    border-bottom: $border;
}