/* helpers */
.clear:after {
    content:'';
    height: 0;
    clear: both;
    display: block;
}

.box-container {
    margin: 0 auto;
    width: 80%;
}

.title {
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: $color-brand-green;
}
