.button {
    cursor: pointer;
    border: none;
    color: $color-white;
    border-radius: $button-height/2;
    padding: 2px 12px;
    display: inline-block;
    line-height: $button-height - 4;

    &:hover {
        text-decoration: none;
    }

    &--default {
        background: $color-brand-green;

        &:hover {
            background: darken( $color-brand-green, 10% );
        }

        &:focus {
            outline: none;
        }
    }
}
