.button {
    cursor: pointer;
    border: none;
    color: $color-white;
    padding: 2px 12px;
    display: inline-block;
    line-height: $button-height - 4;

    &--rounded {
        border-radius: $button-height/2;
    }

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--default {
        background: $color-grey;

        &:hover {
            background: darken( $color-grey, 10% );
        }
    }

    &--action {
        background: $color-brand-green;

        &:hover {
            background: darken( $color-brand-green, 10% );
        }
    }
}
