.button {
    cursor: pointer;
    border: none;
    color: $color-white;
    padding: 2px 12px;
    display: inline-block;
    line-height: $button-height - 4;
    text-decoration: none;
    text-align: center;

    &--rounded {
        border-radius: $button-height/2;
    }

    &--stretch {
        display: block;
        width: 100%;
    }

    &:hover {
        text-decoration: none;
        color: $color-white;
    }

    &:focus {
        outline: none;
    }

    &--default {
        background: $color-grey;

        &:hover {
            background: darken( $color-grey, 10% );
        }
    }

    &--action {
        background: $color-brand-green;

        &:hover {
            background: darken( $color-brand-green, 10% );
        }
    }

    &--brand {
        background: $color-brand-violet;

        &:hover {
            background: darken( $color-brand-violet, 10% );
        }
    }
}
