.form {
    label {
        display: block;
        text-align: center;
        margin-bottom: 6px;
    }

    input {
        width: 100%;
    }
}
.form-row {
    padding-bottom: 6px;

    input[type=checkbox],
    input[type=radio] {
        float: left;
        margin: 6px 6px 0 0;
        width: 11px;
        height: 11px;
    }

    label {
        display: block;
        overflow: hidden;
    }
}

.form-block {

    input {
        width: 90%;
    }

    button {
        margin-left:$base-spacing-unit;
    }

}