.gallery {
    position: relative;

    &__list {
        @include list-clear();
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__dots {
        @include list-clear();
        padding-top: $base-spacing-unit;
        text-align: center;
    }

    &__dot {
        display: inline-block;
    }

    &__dot-link {
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 2px solid $color-brand-violet;
        border-radius: 50%;
        margin-left: 2px;
        cursor: pointer;
        text-indent: -9999px;
        overflow: hidden;

        &:hover,
        .active & {
            background: $color-brand-violet;
        }
    }

    &__prev,
    &__next {
        font-size: 60px;
        color: $color-brand-green;
        position: absolute;
        top: 50%;
        line-height: 80px;
        margin-top: -62px;
        width: 30px;
        text-align: center;

        &:hover {
            color: darken( $color-brand-green, 10% );
        }
    }

    &__prev {
        left: -40px;
    }

    &__next {
        right: -40px;
    }
}