.grid {
    $root: &;
    display: flex;
    align-items: flex-start;

    @include until($bp-medium) {
        display: block;
    }

    &--middle {
        align-items: center;
    }

    &--bottom {
        align-items: flex-end;
    }

    &--small-h {
        margin-left: -5px;
        margin-right: -5px;
    }

    &__column {
        flex: 1;
        padding: $base-spacing-unit;

/* 
** grid grid--no-h - grid with no horizontal paddings
** grid grid--no-v - grid with no vertical paddings
** grid grid--no - grid with no paddings
** grid grid--small-h - grid with small horizontal paddings
** grid grid--small-v - grid with small vertical paddings
** grid grid--small - grid with small paddings
** */

        #{$root}--no-h & {
            padding-left: 0;
            padding-right: 0;
        }

        #{$root}--no-v & {
            padding-left: 0;
            padding-right: 0;
        }

        #{$root}--no & {
            padding: 0;
        }

        #{$root}--small-h & {
            padding-left: 5px;
            padding-right: 5px;
        }

        #{$root}--small-v & {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #{$root}--small & {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    &__column-large {
        flex-grow: 3;
    }

    &__column-middle {
        flex-grow: 2;
    }

    &__column-small {
        flex-grow: 1;
    }

    &__column-auto {
        flex-grow: 0;
    }

    &__row {
        button {
            width: 49%;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__link {
        text-align: center;
        padding-top: 20px;
    }
}