.pager {
    padding: $base-spacing-unit;
    text-align: center;

    &__list {
        @include list-clear();
        text-align: center;
    }

    &__item {
        display: inline-block;
        margin-right: 8px;
        border-right: 1px solid $color-dark;
        padding-right: 12px;

        &:last-child {
            border-right: none;
        }
    }
}