.table {
    $root: &;
    border: $border;
    width: 100%;
    border-collapse: collapse;

    @include until($bp-large) {
        font-size: 12px;
    }

    caption {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }

    th {
        padding: 4px 30px;
        background-color: $color-brand-violet;
        text-align: left;
        color: $color-white;
        border: $border;

        @include until($bp-large) {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    td{
        padding: 6px 30px;
        border: $border;

        @include until($bp-large) {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    tr:nth-child(even) td {
        background-color: $color-grey-light;
    }

    &--small {
        font-size: 12px;

        th,
        td {
            padding: 2px 6px;
        }
    }

    &--check {
        table-layout: fixed;

        th,
        td {
            width: 20%;
            text-align: center;

            &:first-child {
                width: 40%;
                text-align: left;
            }
        }
    }

    &--faq {
        table-layout: fixed;

        th:first-child {
            width: 85%;
        }

        th:nth-child(2) {
            width: 15%;
        }

        td:nth-child(2){
            text-align: center;
        }
    }

    &--compare {
        th {
            text-align: center;

            &:first-child {
                text-align: left;
                width: 50%;
            }
        }

        td {
            border: none;
            text-align: center;
            border-left: $border;

            &:first-child {
                text-align: left;
            }
        }

        tr:nth-child(even) {
            td {
                background: none;
            }
        }

        #{$root}__subtitle {
            td {
                border-top: $border;
                border-bottom: $border;
            }
        }

    }

    &__row-link {
        display: inline-block;
        font-weight: bold;
        color: $color-brand-violet;
        text-decoration: none;

        &:before {
            content:'+';
            display: inline-block;
            margin-right: 6px;
        }
    }


}