.table {
    border: $border;
    width: 100%;
    border-collapse: collapse;

    caption {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }

    th {
        padding: 4px 30px;
        background-color: $color-brand-violet;
        text-align: left;
        color: $color-white;
        border: $border;
    }

    td{
        padding: 6px 30px;
        border: $border;
    }

    tr:nth-child(even) td {
        background-color: $color-grey-light;
    }

    &--small {
        font-size: 12px;

        th,
        td {
            padding: 2px 6px;
        }
    }

    &--check {
        table-layout: fixed;

        th,
        td {
            width: 20%;
            text-align: center;

            &:first-child {
                width: 40%;
                text-align: left;
            }
        }
    }
}