body {
    margin: 0;
    color: $color-dark;
    font: 15px $font;
    background: $color-white;
}

* {
    box-sizing: border-box
}

a {
    color: $color-brand-violet;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
    color: darken( $color-brand-violet, 10% );
}

form,
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    vertical-align: middle;
    font: 100% $font, sans-serif;
    border: 1px solid $color-grey;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid $color-brand-violet;
    outline: none;
}

img {
    border: none;
    display: block;
}

/* helpers */
.clear:after {
    content:'';
    height: 0;
    clear: both;
    display: block;
}

/*ul {
    @include list-clear(); 
}*/