.contact-form {
    &__label {
        display: block;
        padding-bottom: 5px;
    }

    &__wrapper {
        position: relative;

        i{
            position: absolute;
            top: 27%;
            left: -15px;
            width: 20px;
            height: 20px;
            padding-left: 30px;
        }
    }

    &__area {
        height: 182px;
        margin: 0 auto;
        padding: 6px 20px;
    }

    &__input {
        width: 100%;
        padding: 6px 36px;
    }

    &__title {
        border-bottom: $border;
        margin: 0 0 10px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: normal;
        font-size: 16px;
    }
    &__button {
        width: 40% ;
    }

    address {
        font-style: normal;
    }
}