/* helpers */
.clear:after {
    content:'';
    height: 0;
    clear: both;
    display: block;
}

.box-container {
    margin: 0 auto;
    width: 80%;
}

.right {
    float: right;
}

.left {
    float: left;
}