.news-gallery {
    $root: &;
    padding: $large-spacing-unit $base-spacing-unit;
    position: relative;

    &__prev,
    &__next {
        font-size: 60px;
        color: $color-brand-violet;
        position: absolute;
        top: 50%;
        line-height: 80px;
        margin-top: -40px;
        width: 30px;
        text-align: center;

        &:hover {
            color: darken( $color-brand-violet, 10% );
        }
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }

    &__wrapper {
        overflow: hidden;
        padding: 0 40px;
    }

    &__list {
        @include list-clear();
        margin: 20px auto 0;
        max-width: 80%;
        width: 1000px;
        border: $border;
        border-top: none;
    }

    &__item {
        border-top: $border;
    }

    &__link {
        display: block;
        padding: $base-spacing-unit;
        background: $color-grey-light;
        color: $color-dark;
        text-decoration: none;

        &:hover {
            color: $color-dark;
            background: darken( $color-grey-light, 10% );
        }

        #{$root}__item:nth-child(even) & {
            background: darken( $color-grey-light, 5% );;

            &:hover {
                background: darken( $color-grey-light, 15% );
            }
        }
    }
}