.profile {
    $root: &;
    width: $modal-width;
    margin: 0 auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    &__avatar {
        float: left;
        width: 300px;
        padding-right: $large-spacing-unit;

        img {
            width: 100%;

        }
    }

    &__avatar-ico {
        float: left;
        width: 200px;
        padding-right: $large-spacing-unit;

        img {
            width: 100%;
        }

    }

    &__title {
        margin: 0;
    }

    &__photo {
        display: block;
        width: 100%;
    }

    &__text {
        padding: 0 $large-spacing-unit;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

    }


    &__text-col {
        overflow: hidden;

        p {
            display: inline-block;
        }
    }

    &__list {
        @include list-clear();

        p {
            margin: 0;
            overflow: hidden;
        }
    }

     #{$root}__list {
        margin-left: $button-height;
    }

    &__bg {
        float: left;
        margin-right: $base-spacing-unit;

    }
    &__ico,
    &__ico-link {
        display: block;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        color: #fff;
        background-color: $color-brand-violet;
        text-align: center;
        text-decoration: none;

    }

    &__ico-link:hover {
        background-color: $color-brand-green;
    }



    &__block {
        position: relative;
    }

    &__ico-user {
        display: block;
        position: absolute;
        top: 0;
        left: -10%;
    }

    &__avatar-img {
        width: 46px;
        height: 46px;
        line-height: 46px;
        background-color: $color-brand-violet;
        border-radius: 50%;
        color: #fff;
        text-align: center;
    }

    &__block-info {
        float: right;
        color: $color-brand-green;
        font-size: 12px;

    }

    &__block-title {
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    &__user {
        border: $border;
        padding: $base-spacing-unit;

    }

    &__user-avatar {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100px;
            border-radius: 100px;
            overflow: hidden;
            display: block;
        }
    }
}
