#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    background: $color-white;
    border-right: $border;
    padding: $base-spacing-unit;
}