.section-nav-content {

    position: absolute;
    left: 0;
    right: 0;
    top: -30px;

    &__list {
        @include list-clear();
    }

    &__item {
        display: inline-block;
        border: $border;
        background-color: $color-grey;


        &.active a {
            background-color: $color-white;
        }
    }

    &__link {
        display: block;
        padding: 4px 15px;
        text-decoration: none;
        color: #000;

        &:hover {
            background-color: $color-white;
        }
    }
}
.section-content-block {

    &__col {
        display: inline-block;
        margin: 0 $base-spacing-unit;

        label{
            margin: 10px 12px;
        }
    }
    &__text {
        text-align: left;
    }

}