/* theme colors */
$color-white:            #fff;
$color-brand-violet:     #9054ef;
$color-brand-green:      #00d9bd;
$color-dark:             #2d3b54;
$color-grey:             #ccc;
$color-grey-light:       #efefef;
$color-dark-opacity:     rgba(0,0,0,0.4);

/*theme fonts */
$font:                  'Roboto Slab';
$font-heading:          'Montserrat';


/* theme variables */
$logo-height:            60px;
$button-height:          36px;
$base-spacing-unit:      15px;
$large-spacing-unit:     25px;

$border: 1px solid $color-grey;