.signup {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    &__title {
        border-bottom: $border;
    }

    &__row {
        padding-top: $base-spacing-unit;

        label {
            display: block;
        }

        input {
            width: 80%;
            text-align: center;
            padding: 6px;
        }

        button {
            width: 30%;
        }
    }
}