.signup {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    &__title {
        border-bottom: $border;
    }

    &__row {
        padding-top: $base-spacing-unit;

        label {
            display: block;
        }

        input {
            width: 80%;
            text-align: center;
            padding: 6px;
        }


        button {
            width: 30%;
        }
    }
    &__textarea {
        width: 80%;
        max-width: 80%;
        min-width: 80%;
        height: 90px;

    }
    &__textarea-midle {
        height: 160px;
        max-width: 80%;
        min-width: 80%;
    }

    &__input-full {
        width: 100%;
    }
}