.text-block {
    padding: $base-spacing-unit;

    &__title {
        text-align: center;
        color: $color-brand-green;
        font-size: 18px;
        margin: 0;
    }

    &__row {
        padding: $base-spacing-unit;

        img {
            max-width: 100%;
            display: block;

            &.left,
            &.right {
                margin: $base-spacing-unit;
                max-width: 40%;
            }

            &.left {
                margin-left: 0;
            }

            &.right {
                margin-right: 0;
            }
        }
    }
}