.text-block {
    padding: $base-spacing-unit;


    &__row {
        padding: $base-spacing-unit;
    }

    img {
        max-width: 100%;
        display: block;

        &.left,
        &.right {
            margin: $base-spacing-unit;
            max-width: 40%;

            @include until($bp-large) {
                max-width: 100%;
                float: none;
                margin: 0 0 $base-spacing-unit;
            }
        }

        &.left {
            margin-left: 0;
        }

        &.right {
            margin-right: 0;
        }
    }
}