$color-white:            #fff;
$color-brand-violet:     #9054ef;
$color-brand-green:      #00d9bd;
$color-dark:             #2d3b54;
$color-grey:             #ccc;

$font:                  'Roboto Slab';
$font-heading:          'Montserrat';